<!DOCTYPE html>
<html>
<head>
  <title>Levelcc</title>
</head>
<body>
<h1 align="center">Custom Level Creator </h1>

<form accept-charset="UTF-8" action="/levels" class="new_level" id="new_level" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="rqZpb7+iHvw91Ic9/10bNdlRrUaLCZjdX8Y2uU/UtfE=" /></div>
  
<div class="row">
	<div class="span4">
		<label for="level_creator_name">Creator Name</label>
	</div>
	
	<div class="span8">
		<input id="level_level_name" name="creatorname" size="30" type="text" value= <%=@creatorname%> >
	</div>
</div>
<div class="row">
	<div class="span4">
		<label for="level_level_name">Level name</label></br>
	</div>
	
	<div class="span12">
		<input id="level_level_name" name="levelname" size="30" type="text" value= <%=@levelname%> ></br>
	</div>
</div>
<div class="row">
	<div class="span4">
		<label for="level_start_point">Start point</label></br>
	</div>
	
	<div class="span12">
		<input id="level_start_point" name="startPoint" size="30" type="text" value= <%=@startpoint%> ></br>
	</div>
</div>
<div class="row">
	<div class="span4">
		<label for="level_time_limit">Time limit</label></br>
	</div>
	
	<div class="span12">
		<input id="level_time_limit" name="timeLimit" size="30" type="text" value= <%=@timelimit%> ></br>
	</div>
</div>
<div class="row">
	<div class="span4">
		<label for="level_title">Title</label></br>
	</div>
	
	<div class="span12">
		<input id="level_title" name="title" size="30" type="text" value = <%=@leveltitle%> ></br>
	</div>
</div>
<div class="row">
	<div class="span4">
		<label for="level_number_of_trial">Number of trial</label></br>
	</div>
	
	<div class="span12">
		<input id="level_number_of_trial" name="numberoftrial" size="30" type="text" value =  <%=@numberoftrail%> ></br>
	</div>
</div>
</br>
</br>
</br>
	
 <div class= "RadioButton" id='qtradio'>
	    Question Type </br>
	<div id= 'rdnormal'>
			<%= radio_button_tag 'question_type', 'normal'     %>    normal
			<%= text_field_tag 'questions', nil, :placeholder => 'Enter QuEsTion Type :)' %>
  </div> 
	
  <div class = 'Radioqtm'>
      <%= radio_button_tag 'question_type', 'Measurement' %>   		Measurement
      	  <div id= txtbtnkcinput1  class= "clonedInput" >
							<%=text_field_tag 'startPoint', @startpoint, :placeholder => 'Enter Start Point' %>   		
							<%=text_field_tag 'endPoint',   @endPoint,   :placeholder => 'Enter End Point'   %>  
							<%=text_field_tag 'flagPoint',  @flagpoint,  :placeholder => 'Enter Flag Point'  %>  
							<%=text_field_tag 'answer',     @answer,     :placeholder => 'Enter answer here' %>  																		      
					</div>
					<div id=hidebtnm  >
				<input type="button" id="btnadd" value="Add new measurement" /> 
				<input type="button" id="btnDel" value="remove name" /> 
				  </div>
	</div>
	
	</br>
 </div> 


 <div class= "RadioButton" id='qsradio'>
	  Question Sequence </br>
	    <%= radio_button_tag 'question_sequence', 'random'%> Random </br>
	    <%= radio_button_tag 'question_sequence', 'random_once'%> Random Once </br>
	    <%= radio_button_tag 'question_sequence', 'as_in_instruction_set'%> As in instruction set </br>
			<%= radio_button_tag 'question_sequence',  'rbbkt' %>    bkt 
				<div id= input1 class = "tobeclonedtextkc">
						<%= text_field_tag 'textkc', nil, :placeholder => 'Enter value of KC ' %>
			  </div>
			<div id = hidekc >	
				<input type="button" id="btntextkcadd" value="add kc text field" />
				<input type="button" id="btntextkcdel" value="remove Kc text Field" /> 
			</div>
			<div id= 'dtree'>
				<%= radio_button_tag 'question_sequence',  'rbdtree'     %>    dtree
				<div id= textbinsize1 class = "tobeclonedtextbinsize">
				<%= text_field_tag 'textbinsize', nil, :placeholder => 'Enter Bin Size ' %>
				</div>
				<div id = hidebs >	
				<input type="button" id="btntextaddbinsize" value="AdD MOre Bin SiZe" />
				<input type="button" id="btntextdelbinsize" value="remove it" /> 
			  </div>
			</div>
	</div>  					
 </div>  
	 
 <div class= "RadioButton">
	  TYPE </br>
			<%= radio_button_tag 'type', 'At_Midpoint', @type1%>    At_midpoint
     	<%= radio_button_tag 'type', 'at 0', @type2 %>   		At 0
  		<%= radio_button_tag 'type', 'at 1/4s', @type3%>     At 1/4s
   		<%= radio_button_tag 'type', 'at 10s', @type4%>      At 10s
     <%= radio_button_tag 'type', 'at Whole Number', @type5 %> At Whole Number
 </div>

	<div class= "RadioButton">
	  MODE </br>
			<%= radio_button_tag 'mode', 'Click',@mode1 %>    click
     	<%= radio_button_tag 'mode', 'Type',@mode2 %>   		Type
  		<%= radio_button_tag 'mode', 'Mix!',@mode3 %>     Mix!
   		<%= radio_button_tag 'mode', 'Random',@mode4%>      Random
	</div>
</br>
</br>

  <div class="actions">
    <input id="level_submit" name="commit" type="submit" value="Sign up" />
  </div>


</form>
<!-- <%= debug(params) if Rails.env.development? %>  -->
</body>




</html>
